.InfoTooltip__window{
    max-width: 430px;
    width: 100%;
    height: 330px;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 35px;
    background: #FFF;
}