.login__btn-start {
  display: block;
  max-width: 358px;
  width: 100%;
  text-align: center;
  height: 50px;
  margin: 255px auto 0;
  font-family: "Inter-Regular";
  background-color: #FFFFFF;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: black;
}
.login__btn-start:hover{
opacity: 0.85;
background: #FFF;
}
