.login {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .login_opened {
   
  }
