@import url("./vendor/normalize.css");
@import url("./fonts/fonts.css");
@import url("./blocks/page/page.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__titulo/header__titulo.css");
@import url("./blocks/header/__email/header__email.css");

@import url("./blocks/login/login.css");
@import url("./blocks/login/__titulo/login__titulo.css");
@import url("./blocks/login/__form/login__form.css");
@import url("./blocks/login/__input/login__input.css");
@import url("./blocks/login/__btn-start/login__btn-start.css");
@import url("./blocks/login/__link/login__link.css"); 

@import url("./blocks/register/register.css");
@import url("./blocks/register/__form/register__form.css");
@import url("./blocks/register/__titulo.css/register__titulo.css");
@import url("./blocks/register/__input/register__input.css");
@import url("./blocks/register/__btn-save/register__btn-save.css");
@import url("./blocks/register/__link/register__link.css");


@import url("./blocks/InfoTooltip/InfoTooltip.css");
@import url("./blocks/InfoTooltip/__window/InfoTooltip__window.css");
@import url("./blocks/InfoTooltip/__btn-closet/InfoTooltip__btn-closet.css");
@import url("./blocks/InfoTooltip/__img/InfoTooltip__img.css");
@import url("./blocks/InfoTooltip/__titulo/InfoTooltip__titulo.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__btn-edit/profile__btn-edit.css");
@import url("./blocks/profile/__content/profile__content.css");
@import url("./blocks/profile/__content-fond/profile__content-fond.css");
@import url("./blocks/profile/__content-fond/_opened/profile_content-fond_opened.css");
@import url("./blocks/profile/__image/profile__image.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__text/profile__text.css");
@import url("./blocks/elements/elements.css");
@import url("./blocks/cards/cards.css");
@import url("./blocks/card/card.css");
@import url("./blocks/card/__image/card__image.css");
@import url("./blocks/card/__subtitle/card__subtitle.css");
@import url("./blocks/card/__btn-trash/card__btn-trash.css");
@import url("./blocks/card/__btn-trash/card__btn-trash_hidden/card__btn-trash_hidden.css");
@import url("./blocks/card/__btn-trash/card__btn-trash_visible/card__btn-trash_visible.css");
@import url("./blocks/card/__btn-love/card__btn-love.css");
@import url("./blocks/card/__content/card__content.css");
@import url("./blocks/card/__lik-number/card__like-number.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__btn-save/popup__btn-save.css");
@import url("./blocks/popup/__close/popup__btn-close.css");
@import url("./blocks/popup/__btn-save/_disabled/popup__btn-save_disabled.css");
@import url("./blocks/popup/__input-error/popup__input-error.css");
@import url("./blocks/add-button/add-button.css");
@import url("./blocks/edit-button/edit-button.css");

@import url("./blocks/popup-add/popup-add.css");
@import url("./blocks/popup-add/__container/popup-add__container.css");
@import url("./blocks/popup-add/__title/popup-add__title.css");
@import url("./blocks/popup-add/__input/popup-add__input.css");
@import url("./blocks/popup-add/__input-error/popup-add__input-error.css");
@import url("./blocks/popup-add/__save/popup-add__btn-save.css");   
@import url("./blocks/popup-add/__close/popup-add__close.css");
@import url("./blocks/popup-add/__save/_disabled/popup-add__btn-save_disabled.css");


@import url("./blocks/big-picture/big-picture.css");
@import url("./blocks/big-picture/__content/big-picture__content.css");
@import url("./blocks/big-picture/__lugar/big-picture__lugar.css");
@import url("./blocks/big-picture/__image-normal/big-picture__image-normal.css");
@import url("./blocks/big-picture/__btn-close/big-picture__btn-close.css");
@import url("./blocks/footer/footer.css");   
@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup-edit-Img/popup-edit-img.css");
@import url("./blocks/popup-edit-Img/__container/popup-edit-img__container.css");
@import url("./blocks/popup-edit-Img/__title/popup-edit-img__title.css");
@import url("./blocks/popup-edit-Img/__input/popup-edit-img__input.css");
@import url("./blocks/popup-edit-Img/__save/popup-edit-img__btn-save.css");
@import url("./blocks/popup-edit-Img/__save/_disabled/popup-edit-img__btn-save_disabled.css");
@import url("./blocks/popup-edit-Img/__input-error/popup-edit-img__input-error.css");
@import url("./blocks/popup-edit-Img/__btn-close/popup-edit-img__btn-close.css");

@import url("./blocks/popup-confirm-deletion/popup-confirm-deletion.css");
@import url("./blocks/popup-confirm-deletion/__container/popup-confirm-deletion__container.css");
@import url("./blocks/popup-confirm-deletion/__title/popup-confirm-deletion__title.css");
@import url("./blocks/popup-confirm-deletion/__btn-close/popup-confirm-deletion__btn-close.css");
@import url("./blocks/popup-confirm-deletion/__btn-delete/popup-confirm-deletion__btn-delete.css");